{% extends 'block/base.html' %}
{% block title %}{{ question.title }}{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'news:index' %}">Список новостей</a></li>
          <li class="breadcrumb-item active">{{ post.title }}</li>
        </ol>
      </nav>
      <img src="/media/{{ post.image }}" class="img-fluid rounded mb-3" alt="">
      <h1>{{ post.title }}</h1>
      <hr>
      <p>{{ post.text }}</p>
      {% for tag in post.tags.all %}
      <a href="{% url 'news:tag' tag.id %}" class="badge text-bg-primary text-decoration-none my-2">#{{ tag.name }}</a>
      {% endfor %}
      <hr>
      <div class="d-flex justify-content-between">
        <h5>Опубликовано: {{ post.added_at }}</h5>
        <div class="d-flex">
          <h5 id="rating_{{ post.id }}" class="mx-2">{{ post.like_count }}</h5>
          <button id="like_{{ post.id }}" class="like mx-2 {{ is_like }}" onclick="like({{ post.id }})"></button>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
{% load static %}
<script src="{% static 'scripts/csrftoken.js' %}" defer></script>
<script src="{% static 'scripts/like.js' %}" defer></script>
{% endblock %}