{% extends 'block/base.html' %}
{% block title %}News tag: {{ tag }}{% endblock %}
{% block content %}
<div class="container">
  <div id="posts" class="row">
    <div class="col-lg-9">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'news:index' %}">Список новостей</a></li>
          <li class="breadcrumb-item active">{{ tag }}</li>
        </ol>
      </nav>
      <p class="my-3">Другие теги:
        {% for ctag in common_tags %}
        <a href="{% url 'news:tag' ctag.slug %}" class="badge text-bg-primary text-decoration-none my-2">#{{ ctag }}</a>
        {% endfor %}
      </p>
    </div>
    {% include 'block/post.html' %}
  </div>
</div>
{% endblock %}
{% block script %}
{% load static %}
<script src="{% static 'scripts/load_news.js' %}" defer></script>
<!--<script src="{% static 'scripts/csrftoken.js' %}" defer></script>-->
<!--<script src="{% static 'scripts/index.js' %}" defer></script>-->
<!--<script src="{% static 'scripts/like_dislike.js' %}" defer></script>-->
{% endblock %}