.like {
    background-image: url("../img/thumb-up.svg");
    background-color: #ffffff;
    border: 0;
    border-radius: 30%;
    width: 25px;
    height: 25px;
}

.like.active {
    background-image: url("../img/thumb-up-active.svg");
}

.like:hover {
    background-color: #0074d93d;
}

.like:hover {
    background-color: #0074d93d;
}

.like:active {
    background-color: #0074d969;
}
