<div class="col-lg-4 my-3">
  <div class="card">
    <img src="/media/{{ post.image }}" alt="" class="card-img-top">
    <div class="card-body">
      <h4 class="card-title">{{ post.title }}</h4>
      {% for tag in post.tags.all %}
      <a href="{% url 'news:tag' tag.slug %}" class="badge text-bg-primary text-decoration-none my-2">#{{ tag }}</a>
      {% endfor %}
      <div class="d-flex justify-content-between align-items-center my-2">
        <a href="{% url 'news:detail' post.id %}" class="btn btn-sm btn-outline-primary">Подробнее</a>
        <small class="text-muted">{{ post.added_at }}</small>
      </div>
    </div>
  </div>
</div>